#shape {
    margin-top: 30px;
    margin-left: 50px;
    width: 220px;
    height: 140px;
    background: cyan;
    position: relative;
    border-radius: 10px;
    
}

#shape:before {
    margin-left: 50px;
    content: "";
    position: absolute;
    right: 100%;
    top: 46px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid cyan;
    border-bottom: 13px solid transparent;
}
