<html>
<head>
    <link rel="stylesheet" type="text/css" href="face.css">
</head>

<body>
    <div class="face">
        <div class="hover">
            <div class="text">
                <div class="arrowup" margin-left:1px>
                </div>
                left eye
            </div>
            <div class="left-eye eye">
                <p class="eyeball"></p>
            </div>
        </div>
        <div class="hover">
            <div class="text">
                <div class="arrowup" margin-right:8px>
                </div>
                right eye
            </div>
            <div class="right-eye eye">
                <p class="eyeball"></p>
            </div>
        </div>
        <div class="noseright"></div>
        <div class="hover">
            <div class="text">
                <div class="arrowup" margin-right:8px>
                </div>
                nose
            </div>
            <div class="noseleft">
            </div>
        </div>
        <div class="smile">
            <div class="hover">
                <div class="text">
                    <div class="arrowup" margin-left:1px>
                    </div>
                    smile
                </div>
                <svg width="100" height="50">
                    <circle cx="50" cy="-10" r="50" stroke="black" stroke-width="4" fill="#eee8aa" />
            </div>
</body>

</html>
