<div class="drop">
    <ul class="drop_menu">
        <li><a href='#'>Home</a>
        </li>
        <li><a onclick="fnShowAbout()">About</a></li>
        <li><a href='#'>Exercises</a>
            <ul>
                <li><a onclick="fnShowHover()">Hover Image</a></li>
                <li><a onclick="fnRibbonShow()">Ribbon</a></li>
                <li><a onclick="fnButtonShow() ">Button</a></li>
                <li><a onclick="fnFormatEmptyShow()">Format Empty</a></li>
                <li><a onclick="fnTextShow()">Text format</a></li>
                <li><a onclick="fnTalkBubbleShow() ">Talk Bubble</a></li>
                <li><a onclick="fnCircularImageShow()">Circular image</a></li>
                <li><a onclick="fnFirstShow()">firstletter</a></li>
                <li><a onclick="fnColumnShow()">Three Column</a></li>
                <li><a onclick="fnShowFooter() ">Footer</a></li>
                <li><a onclick="fnShowBlurText() ()">Blur Text</a></li>
                <li><a onclick="fnShowBorderImage()">Border Image</a></li>
                <li><a onclick="fnContentShow()">Content Reset</a></li>
            </ul>
        </li>
        <li><a href='#'>Modules</a>
            <ul>
                <li><a onclick="fnShowHumanFace()">Human face</a></li>
                <li><a onclick=" fnThreeBoxes() ">Three boxes</a></li>
            </ul>
        </li>
    </ul>
</div>
</div>
