.button {
    margin-top: 90px;
    padding: 30px;
    width: 200px;
    background-color: blue;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border-style: double;
    border: 3px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #2C3DEF, 0 0 20px 20px #b8b894;
}

.button:hover {
    background: pink;
    text-decoration: none;
    box-shadow: 0 0 0 10px #040404, 0 0 20px 20px #b8b894;
}
